
{% extends "RpgmsBundle:Default:base.html.twig" %}

{% block body %}

    Dice Roller Form
    {{ form_start(form) }}
    <div class="row form-group">
        <div class="col-xs-1">{{ form_label(form.Action) }}</div>
        <div class="col-xs-11">{{ form_widget(form.Action, {'attr': {'class': 'form-control'}}) }}</div>
    </div>
    <div class="row form-group">
        <div class="col-xs-1">{{ form_label(form.Bonus) }}</div>
        <div class="col-xs-5">{{ form_widget(form.Bonus, {'attr': {'class': 'form-control'}}) }}</div>
        <div class="col-xs-1">{{ form_label(form.Penalty) }}</div>
        <div class="col-xs-5">{{ form_widget(form.Penalty, {'attr': {'class': 'form-control'}}) }}</div>
    </div>
    <div class="row form-group">
        <div class="col-xs-12">
            <ul class="Rolls" data-prototype="{{ form_widget(form.Roll.vars.prototype)|e('html_attr') }}">
                {% for roll in form.Roll %}
                    <li>{{ form_row(roll, {'label': false}) }}</li>
                    {{ dump(form.Roll) }}
                {% endfor %}
            </ul>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
