{% extends "RpgmsBundle:Default:base.html.twig" %}

{% block body %}
    {% include 'RpgmsBundle:BackEnd:dashboardHeader.html.twig' %}
    <div class="row">
        <div class="col-xs-2">World Name:</div>
        <div class="col-xs-2">Active:</div>
        <div class="col-xs-2">System:</div>
        <div class="col-xs-2"># of Players</div>
        <div class="col-xs-2">
            Tools:
        </div>
    </div>
    
    <!-- Worlds go here -->
    
    {% for world in worlds %}
    <div class="row">
        <div class="col-xs-2">{{ world.name }}</div>
        {% if world.active == true %}
            <div class="col-xs-2"><span class="label label-success">Active</span></div>
        {% else %}
            <div class="col-xs-2"><span class="label label-danger">Inactive</span></div>
        {% endif %}
        
        <div class="col-xs-2">{{ world.system}}</div>
        <div class="col-xs-2">{{ world.playerCharacters|length }}</div>
        <div class="col-xs-2">{{ world.date|date("m/d/Y") }}</div>
        <div class="col-xs-2">
            <button class="btn btn-info btn-xs">Edit</button>
            <button class="btn btn-danger btn-xs">Delete</button>
        </div>
    </div>
    {% endfor %}
    <!-- Worlds go here -->
    
    <div class="row">
        <div class="col-xs-2">
            <a class="btn btn-primary" href="{{ path('rpgms_user_worlds_create') }}">Add New World</a>
        </div>
    </div>
        
{% endblock %}