{% extends "RpgmsBundle:Default:base.html.twig" %}

{% block body %}
    Roll Views

        <div class="row rollset">
            <div class="col-xs-2 rollset_col roll_label roll_character">Character</div>
            <div class="col-xs-5 rollset_col roll_label roll_action">Action</div>
            <div class="col-xs-5 rollset_col roll_label roll_result">Result</div>
        </div>
    {% for rollset in rollsets%}
        
        <div class="row rollset">
            <div class="col-xs-2 rollset_col roll_character">{{ rollset.playerCharacter.name }}</div>
            <div class="col-xs-5 rollset_col roll_action">{{ rollset.action }}</div>
            <div class="col-xs-5 rollset_col roll_result">
                <span data-toggle="tooltip" data-placement="top" title="
                    {{ rollset.rolls|join('+') }}
                ">{{ rollset.result }}</span>
                    
                
                {% if rollset.bonus > 0 %}
                    (+{{ rollset.bonus }})
                {% endif %}
                {% if rollset.penalty > 0 %}
                    (-{{ rollset.penalty }})
                {% endif %}
            </div>
        </div>
        
    {% endfor %}
        
    
{% endblock %}